[submodule "intpath/pos_receipt_font"]
	path = intpath/pos_receipt_font
	url = git@github.com:intpath/pos_receipt_font.git
	branch = master

[submodule "intpath/six_fifty_reports"]
	path = intpath/six_fifty_reports
	url = git@github.com:intpath/six_fifty_reports.git
	branch = master
